<div *ngIf="entries && entries.length">
 <div class="card-container">
    <div class="card">
        <div class="card-content">
            <div class="process-container">
                <div class="user_name">

                    <div class="user-name">{{entries[1][93.3]}}  {{entries[1][94]}}</div>
                </div>
                <div class="process-items text-right">
                    <div class="item">
                        <a class="disabled">1- Questionnaire</a>
                        <div class="checkbox-circle active">
                            <div class="checkmark"></div>
                        </div>
                    </div>
                    <div class="item">
                        <a class="disabled">2- Autorisation</a>
                        <div class="checkbox-circle disabled">
                            <div class="checkmark"></div>
                        </div>
                    </div>
                    <div class="item">
                        <a>3- Documents</a>
                        <div class="checkbox-circle disabled">
                            <div class="checkmark"></div>
                        </div>
                    </div>
                </div>
            </div>                          
        </div>
    </div>
<div>
<!-- 
    <div class="card">
        <div class="card-content">
            <div class="process-container">
                <div class="user_name">
                    Teclaire Soun Soun
                </div>
                <div class="process-items text-right">
                    <a class="disabled item">1- Questionnaire</a>
                    <a class="disabled item">2- Autorisation</a>
                    <a class="item">3- Documents</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
