

<div *ngIf="entries && entries.length && labels">
  <h3>Selected Client</h3>
  <div class="person-form">
    <form (ngSubmit)="onSubmit()">
      <div class="card-row" *ngFor="let label of getKeys(labels)">
        <div class="form-group">
          <label class="card-label">{{label}}</label>
          <input class="card-value" [value]="filterData(labels[label])" disabled>
        </div>
      </div>
      <!-- <button (click)="onSubmit()">Soumettre</button> -->
    </form>
  </div>
</div>






<!-- <div class="person-form">
    <form (ngSubmit)="onSubmit()">
      <div *ngFor="let field of newFormFields">
        <div class="form-group">
          <h1>Allo</h1>
          <label for="{{field.id}}">{{field[0]['label']}}:</label>
          <input *ngIf="field.type !== 'text'" 
                 [type]="field.type" 
                 [id]="field.id" 
                 [placeholder]="field.placeholder" 
                 [(ngModel)]="personForm.personalInfo[field.id]"
                 name="{{field.id}}" 
                 class="form-control"
          >
          <select *ngIf="field.type === 'select'"
                  [id]="field.id"
                  [(ngModel)]="personForm.personalInfo[field.id]"
                  name="{{field.id}}" 
                  class="form-control"
          >
            <option *ngFor="let option of field.options" [value]="option">{{option}}</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
</div> -->
