.main-container {
  display: flex;
  width: 100%;
  
  .main {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 30px;
    margin-top: 70px;
    margin-left: 250px;
    width: calc(100%);

    app-main {
      width: 100%;
    }
  }
}
